In [1]:
import numpy as np
import pandas as pd

# loading dataset

In [2]:
df=pd.read_csv("baseball.csv")
df.head()

             name handedness  height  weight    avg   HR
0       Tom Brown          R      73     170  0.000    0
1  Denny Lemaster          R      73     182  0.130    4
2       Joe Nolan          L      71     175  0.263   27
3     Denny Doyle          L      69     175  0.250   16
4   Jose Cardenal          R      70     150  0.275  138

# Top5 players

In [3]:
avg_height=df['height'].mean()

In [4]:
topplayers=df.loc[df['height']>avg_height]

In [5]:
finallist=topplayers.sort_values(by='height',ascending=False)

In [6]:
print(finallist.head(5))

                 name handedness  height  weight    avg  HR
1124     Stefan Wever          R      80     245  0.000   0
720      J.R. Richard          R      80     222  0.168  10
1068  Steve Ellsworth          R      80     220  0.000   0
394     Mike Smithson          L      80     215  0.000   0
77          Walt Bond          L      79     228  0.256  41

# name 2players based on weight and must be lefthanded

In [7]:
df=df[df['handedness']=='L']

In [8]:
df.sort_values('weight',inplace=True,ascending=True)
df=df.head(2)
print(df)

               name handedness  height  weight    avg  HR
1110      Curt Ford          L      70     150  0.245   7
471   Vic Davalillo          L      67     150  0.279  36